{% extends 'app_registro/pages.html' %}

{% block formulario %}

{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="d-flex p-2">
            <form method="post">
                {% csrf_token %}
                <div class="container">
                  <form>
                    <div class="form-group">
                      <label for="{{ form.num.id_for_label }}">Asistente 1</label>
                      <input type="text" class="form-control" id="form.num.id_for_label">
                    </div>
                    <div id="campos-extra"></div>
                    <button type="button" class="btn btn-primary" onclick="agregarCampo()">Agregar Nuevo Campo</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
                </div>
            </form>
        </div>

    </div>
</div>

<script>
  let contadorCampos = 2; // Contador para asignar IDs únicos a los nuevos campos

  function agregarCampo() {
    const camposExtra = document.getElementById("campos-extra");

    // Crear el nuevo campo
    const nuevoCampo = document.createElement("div");
    nuevoCampo.className = "form-group";
    nuevoCampo.innerHTML = `
      <label for="{{ form.num.id_for_label }}">Asistente ${contadorCampos}</label>
      <input type="text" class="form-control" id="form.num.id_for_label">
    `;
    // Agregar el nuevo campo al contenedor
    camposExtra.appendChild(nuevoCampo);
    // Incrementar el contador de campos
    contadorCampos++;
  }
</script>
{% endblock %}
