{% extends 'app_registro/pages.html' %}

{% block formulario %}

{% load crispy_forms_tags %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="d-flex p-2">
            <form method="post">
                <table class="table" id="campos-table">
                  {% csrf_token %}
                  {% for form in development_formset %}
                  <tr>
                    <td>
                      <label for="{{ form.num.id_for_label }}">Número</label>
                      {{ form.num }}
                    </td>
                    <td>
                      <label for="{{ form.tittle.id_for_label }}">Título</label>
                      {{ form.tittle }}
                    </td>
                    <td>
                      <label for="{{ form.description.id_for_label }}">Desarrollo</label>
                      {{ form.description }}
                    </td>
                    <td>
                      <label for="{{ form.agreements.id_for_label }}">Acuerdos</label>
                      {{ form.agreements }}
                    </td>
                  </tr>
                  {% endfor %}
                  {% for form in Responsible_formset %}
                  <td>
                    <label for="{{ form.user_name.id_for_label }}">Acuerdos</label>
                    {{ form.user_name}}
                  </td>s
                  {% endfor %}
                </table>
                <div id="campos-extra"></div>
                <button class="btn btn-primary" onclick="agregarCampos()">Agregar Nuevo Campo</button>
            </form>
        </div>

    </div>
</div>


<script>
  let contadorCampos = 2; // Contador para asignar IDs únicos a los nuevos campos

  function agregarCampo() {
    const camposExtra = document.getElementById("campos-extra");

    // Crear el nuevo campo
    const nuevoCampo = document.createElement("div");
    nuevoCampo.className = "form-group";
    nuevoCampo.innerHTML = `
      
    <table class="table" id="campos-table">
      {% csrf_token %}
      {% for form in development_formset %}
      <tr>
        <td>
          <label for="{{ form.num.id_for_label }}">Número</label>
          {{ form.num }}
        </td>
        <td>
          <label for="{{ form.tittle.id_for_label }}">Título</label>
          {{ form.tittle }}
        </td>
        <td>
          <label for="{{ form.description.id_for_label }}">Desarrollo</label>
          {{ form.description }}
        </td>
        <td>
          <label for="{{ form.agreements.id_for_label }}">Acuerdos</label>
          {{ form.agreements }}
        </td>
      </tr>
      {% endfor %}
      {% for form in Responsible_formset %}
      <td>
        <label for="{{ form.user_name.id_for_label }}">Acuerdos</label>
        {{ form.user_name}}
      </td>s
      {% endfor %}
    </table>
    `;
    // Agregar el nuevo campo al contenedor
    camposExtra.appendChild(nuevoCampo);
    // Incrementar el contador de campos
    contadorCampos++;
  }
</script>

{% endblock %}